
<mat-toolbar color="primary" *ngIf=" authServ.afAuth.user | async as user ; else showLogin">
    <div><a [routerLink] ='home'> Home</a></div>
    <div><a [routerLink]="['/menu/'+userProf.id]" >Gestione Menu </a></div>
    <span class="example-spacer"></span>
    <div> Hello {{ userProf.name }}! </div>
    <button mat-button (click)="logout()">Logout</button>
  
  <ng-template class="w3-bar w3-border" #showLogin>
    <span [routerLink] ="home">Please Login </span>
 </ng-template>
</mat-toolbar>

