
<mat-toolbar color="primary" class="header" *ngIf=" authServ.afAuth.user | async as user ; else showLogin">
    <button mat-button >Home</button>
    <span><a [routerLink]="['/menu/'+authServ.getPorifiloUtente().id]" >Gestione Menu</a></span>
    <span>Link 2</span>
    <span class="example-spacer"></span>
    <span > Hello {{ authServ.getPorifiloUtente().name }}!</span>
    <button mat-button (click)="logout()">Logout</button>
  
  <ng-template class="w3-bar w3-border" #showLogin>
    <span [routerLink] ="home">Please Login </span>
 </ng-template>
</mat-toolbar>

