
    <div>
      <mat-card>
        <mat-card-title> {{userProf.name}} </mat-card-title>
        <img [src]="userProf.photo" style="height:200px; object-fit: contain; ">
        <mat-card-content>
          <table style="width: auto; padding: 10px; text-align: left;">
            <tr><th>Email</th> <td>{{userProf.email}} </td></tr>
            <tr><th>Phone</th> <td> {{userProf.phone}} </td></tr>
            <tr><th>Indirizzo</th> <td> {{userProf.address}} </td></tr>
            <tr><th>Rating</th> <td> {{userProf.ratingsNumber}} </td></tr>
            <tr><th>Tipo Cucina:</th> <td> {{userProf.cookingTypes}} </td></tr>
            <tr><th>Tipo Rating:</th> <td> {{userProf.ratingsNumber}} </td></tr>
          </table>
          <p>Orario di Apertura</p>
          <table style="width: auto; padding: 10px; text-align: left;">
            <tr *ngFor ="let day of userProf.timetable">
              <th>{{day.day}}</th><td>{{day.lunchSchedule.startTime | date: 'shortTime'}} - {{day.lunchSchedule.endTime | date: 'shortTime'}} <br>
                {{day.lunchSchedule.startTime | date: 'shortTime'}} - {{day.lunchSchedule.endTime | date: 'shortTime'}}</td>
              
            </tr>
          </table>
      </mat-card-content>
      </mat-card>
    <div>
        <a [routerLink]="['update']"> Modifica</a>
    </div>
 </div>

<router-outlet></router-outlet>
   

